#admin-dash-wrapper {
  text-align: right;

  .active-proj-wrapper {
    margin: 0 auto;
    max-width: 80%;
    width: 800px;
    max-height: 68%;
    overflow-y: scroll;
  }

  h2 {
    display: block;
    width: 100%;
    text-align: center;
  }

  #btn-new-proj {
    font-size: 14px;
    display: inline-block;
  }

  .btn-proj {
    font-size: 25px;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    margin-top: 15px;
  }

  #btn-archive {
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: 14px;
    display: inline-block;
  }
}
