[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]
fancycompleter = "*"
"flake8" = "*"
ipdb = "*"
ipython = "*"
pylint = "*"
pytest = "*"
yapf = "*"

[requires]
python_version = "3.7"
