.admin-dash-wrapper {
  margin: 0 auto;
  width: 800px;
  max-width: 80%;

  .right-align {
    text-align: right;
  }

  .header .right-align {
    display: inline-block;
    width: 50%;
  }

  h2 {
    margin-left: 0;
    margin-right: 0;
    width: 50%;
    display: inline-block;
  }

  .btn-new-proj {
    font-size: 14px;
    display: inline-block;
  }

  .btn-proj {
    border-radius: 0px;
    height: 100px;
    width: 100%;
    margin-top: 30px;
  }

  .btn-archive {
    margin-top: 20px;
    display: inline-block;
  }
}
