#login-wrapper {
  padding: 90px 0px;

  img {
    margin: auto;
    display: block;
    width: 200px;
  }

  button:focus {
    outline: none;
  }

  button {
    background-color: #255fa4;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    margin-top: 20px;
    font-weight: 400;
  }
}

.login-form {
  padding: 0 50px;
  max-width: 500px;
  margin: 2.5em auto 0;
}

.title {
  text-align: center;
}

.input-block {
  margin: 20px 0;
  padding-right: 1.6em;
}

.block {
  display: block;
}
