$navbar-height: 40px;

#nav-bar-wrapper {
  height: $navbar-height;

  .tab {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }

  .tab:hover {
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-color: lightgrey;
    cursor: pointer;
  }

  .navbar {
    background-color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: 10px 0 8px 0;
    border-style: solid;
    border-color: lightgrey;
    height: $navbar-height;
    width: 100%;
    border-width: 1px;
    margin-top: 20px;
  }

  img {
    height: 30px;
    width: 30px;
    margin: auto;
  }
}
