.logout-button {
  margin-top: 15px;
  padding: 0;
  border: none;
  vertical-align: top;
  height: 40px;
  border-radius: 0px;
  background: transparent;
  display: inline-block;
  text-align: center;
}
