$font: 'Open Sans', sans-serif;

/************************************
              colours
/***********************************/
/* greys */
$darkestGrey: #6c7a89;
$mediumGrey: #95a5a6;
$lightGrey: #bdc3c7;
$lightestGray: #ececec;
