@import '_constants';

html,
body {
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  width: 100%;
  font-family: $font;
}

div,
input {
  box-sizing: border-box;
}

a {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

.page-wrapper {
  padding: 15px 15px;
  height: 100vh;
}

/****************************
    vertical centering
****************************/

.vcentre-outer {
  width: 100%;
  display: table;
}

.vcentre {
  display: table-cell;
  vertical-align: middle;
}

/*******************
      buttons

******************/
button:hover {
  cursor: pointer;
}

button:active {
  color: lightgrey;
  border: 1px solid lightgrey;
}

button:focus {
  outline: none;
}

.btn {
  border: 1px solid grey;
  font-family: $font;
  margin: 0 auto;
  padding: 10px 25px;
  display: block;
  font-size: 16px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid inherit;
}

.btn-small {
  font-size: 14px;
}

/*******************
   form elements
******************/

.form-element {
  padding-top: $form-element-padding-top;
  padding-bottom: $form-element-padding-bottom;
}

.form-element-title {
}
