#primary-segregator-page-wrapper {
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    text-align: center;
  }

  h2 {
    margin-left: 10px;
  }
}

#icon {
  display: block;
  margin: auto;
}
